@model Brand

<div class="container">
    <div class="card-header text-center text-uppercase">
@*         Brand Details *@
    </div>
    <div class="c">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text text-uppercase"><strong>Id</strong></p>
                </div>
                <div class="col-md-8">
                    <p class="card-text">:@Model.Id</p>
                </div>
            </div>

           @*  //brand name *@
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text text-uppercase"><strong>Brand Name</strong></p>
                </div>
                <div class="col-md-8">
                    <p class="card-text">:@Model.Name</p>
                </div>
            </div>

            @* //Established year *@
            <div class="row">
                <div class="col-md-4">
                    <p class="card-text text-uppercase"><strong>Established Year</strong></p>
                </div>
                <div class="col-md-8">
                    <p class="card-text">:@Model.EstablishedYear</p>
                </div>
            </div>

            @*brandlogo display*@
            <div class="col-md-4">
                <img src="@Model.BrandLogo" width="100%" />
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a asp-controller="Brand" asp-action="Index" class="btn btn-danger">Back</a>
                </div>
            </div>

        </div>

    </div>

</div>